.normal:hover
{
    background-color: rgba(227, 227, 227, 0.4);
}

.normal
{
    background-color: rgba(176, 176, 176, 0.4);
}

.main-selected-element:hover
{
    background-color: rgba(214, 41, 41, 0.4);
}

.main-selected-element 
{
    background-color: rgba(163, 33, 33, 0.4);
}

.selected-element:hover
{
    background-color: rgba(144, 44, 201, 0.4);
}

.selected-element
{
    background-color: rgba(107, 32, 150, 0.4);
}